* text=auto !eol
/OpenVFS.komodoproject -text
bin/fshell.php -text
bin/solidcopy.box.json -text
bin/solidcopy.php -text
/composer.json -text
/composer.lock -text
/readme.txt -text
src/Commands/BaseCommand.php -text
src/Commands/MkdirCmd.php -text
src/Commands/SolidcopyCmd.php -text
src/Commands/ToolApplication.php -text
src/ExceptionType.php -text
src/Handlers/BaseStorageHandler.php -text
src/Handlers/BasicRacsStorageHandler.php -text
src/Handlers/CombinedStorageHandler.php -text
src/Handlers/LocalFileStorageHandler.php -text
src/Handlers/MyStorageHandler.php -text
src/Handlers/StorageHandlerType.php -text
src/InvalidOperationException.php -text
src/Manager.php -text
src/StorageHandlerNotFoundException.php -text
src/Wrappers/MyStorageStreamWrapper.php -text
tests/BorkedStreamWrapper.php -text
